@keyframes rotate {
    from {
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
    }
    to {
        opacity: 0;
    }
}

.background {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .hadrian {
        background-image: url('../img/villa.jpg');
        background-size: cover;
        height: 569px;
    }

    .axes {
        z-index: 1;
        position: absolute;
        width: 100vw;
        height: 100vh;

        .axis {
            position: absolute;
            max-width: 15px;
        }

        @for $i from 0 through 22 {
            .axis-#{$i} {
                border-radius: random(15) + px;
                opacity: ((random(1000) + 500) / 1000);
                // animation: 
                //     rotate ((random(1100) + 60) + s) linear infinite alternate,
                //     fade (random(1000) + s) linear infinite alternate;
            }
        }
    }
}