.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .hadrian {
        background-image: url('../img/villa.jpg');
        background-size: cover;
        height: 569px;
    }

    .axes {
        z-index: 1;
        position: absolute;
        width: 100vw;
        height: 100vh;

        .axis {
            position: absolute;
            max-width: 15px;
            filter: drop-shadow(0 0 3px red) sepia(50%);
        }
    }
}