.name {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .letter {
        height: calc(4*var(--rvv));
        width: calc(4*var(--rvv));
        font-family: 'Helico';
        font-size: calc(2*var(--rvv));
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.name-expanded {
    color: #b3ff90d2;
    text-shadow: 5px 5px 0 #9746438c;
}