.projects {
    padding: calc(2*var(--rvv)) 0 0;
    width: 90vw;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .project-card {
        min-width: 200px;
        max-width: 350px;
        background-color: rgba(255, 255, 255, 0.908);
        padding: 20px;
        display: grid;
        grid-template-rows: fit-content 1fr 1fr fit-content;
        border: 2px solid black;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "project-title project-title"
            "project-description project-description"
            "project-preview project-preview"
            "live-link gh-link";

        .project-title {
            grid-area: project-title;
            font-size: calc(0.6*var(--rvv));
        }

        .project-description {
            grid-area: project-description;
            font-size: calc(0.4*var(--rvv));
        }

        .project-link {
            font-size: calc(0.5*var(--rvv));
        }

        .project-link:hover {
            font-style: italic;
        }

        .live-link {
            grid-area: live-link;
            display: flex;
            justify-content: center;
        }

        .gh-link {
            grid-area: gh-link;
            display: flex;
            justify-content: center;
        }
    }
}