.projects-section-heading {
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    text-align: center;
    background-color: var(--transparent-white);
    font-family: 'Helico';
    font-size: calc(1.5*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-section-heading.minimal {
    border-radius: 0;
    box-shadow: 3px 3px 0 var(--minimal-box-shadow);
}

.stack-tags {
    max-width: 650px;
    margin: calc(1*var(--rvv)) 5vw 0;
    background-color: var(--stack-tags-bg);
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    .tag-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .stack-tag-sort-btn {
            font-family: 'Fira Code';
            cursor: pointer;
            padding: 5px;
            border: none;
            outline: none;
            border-radius: 3px;
            transition: transform 0.1s ease-in-out;
        }
    
        .stack-tag-sort-btn:hover {
            transform: scale(1.075);
        }
    
        .stack-tag-sort-btn.selected {
            border: 1.5px solid black;
            transform: scale(1.05);
        }
    }
}

.projects {
    padding: calc(1*var(--rvv)) 0;
    width: 90vw;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .project-card {
        min-width: 350px;
        width: 350px;
        max-width: 350px;
        background-color: var(--project-card-bg);
        padding: 20px;
        display: grid;
        grid-template-rows: fit-content 1fr 1fr fit-content;
        border: 2px solid black;
        border-radius: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "project-title project-title"
            "project-description project-description"
            "project-preview project-preview"
            "project-links project-links"
            "project-stack project-stack";

        .project-title {
            grid-area: project-title;
            font-size: calc(0.6*var(--rvv));
        }

        .project-title-link {
            color: black;
            cursor: pointer;
            text-decoration: none;
        }

        .project-title-link:visited {
            color: black;
        }

        .project-description {
            grid-area: project-description;
            font-size: calc(0.4*var(--rvv));
        }

        .project-preview {
            grid-area: project-preview;

            .preview-video {
                border: 1.5px solid black;
                width: 100%;
            }
        }

        .project-links {
            grid-area: project-links;
            display: flex;
            justify-content: center;
            gap: 25%;
            align-items: flex-end;
        }

        .project-link {
            border: 1.5px solid black;
            border-radius: 10px;
            width: fit-content;
            padding: 10px;
            background-color: rgba(198, 198, 255, 0.678);
            font-size: calc(0.4*var(--rvv));
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            transition: transform 0.1s ease-in-out;
            text-decoration: none;
            color: black;

            .link-icon {
                height: 23px;
            }
        }

        .project-link:visited {
            color: black;
        }

        .project-link:hover {
            transform: scale(1.05);
        }

        .project-stack {
            grid-area: project-stack;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            align-items: center;
        }

        .stack-item {
            cursor: pointer;
            padding: 5px;
            border-radius: 3px;
            transition: transform 0.1s ease-in-out;
        }

        .stack-item:hover {
            transform: scale(1.075);
        }

        .stack-item.selected {
            border: 1.5px solid black;
            transform: scale(1.05);
        }
    }
}