@keyframes minimalFlightPath {
    0% {
        transform: translate(0) rotate(0deg);
    }
    20% {
        transform: translate(25vw, -50px) rotate(-15deg);
    }
    40% {
        transform: translate(25vw, 50px) rotate(-10deg);
    }
    60% {
        transform: translate(-25vw, -50px) rotate(15deg);
    }
    80% {
        transform: translate(-25vw, 50px) rotate(5deg);
    }
    100% {
        transform: translate(0) rotate(0deg);
    }
}
.ufo-container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ufo-drawing {
        max-height: 75px;
    }
}

.ufo-container.minimal {
    min-height: 200px;

    .ufo-drawing {
        animation: minimalFlightPath 15s ease-in-out infinite;
    }
}