@keyframes rotate {
    from {
    }
    to {
        transform: rotate(360deg);
    } 
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.drawings {
    padding: calc(2*var(--rvv)) 0 calc(3*var(--rvv));
    width: 100%;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 12vw;
    justify-content: center;
    align-items: center;

    .drawing {
        height: 120px;
    }

    .apple {
        height: 90px;
    }

    .delicata {
        filter: drop-shadow(0 0 15px blue);
        animation: rotate (random(30) + s) linear infinite;
    }

    .apple-1 {
        filter: drop-shadow(0 0 15px red);
        animation: rotate (random(30) + s) linear infinite reverse;
    }

    .arugula {
        height: 80px;
        filter: drop-shadow(0 0 15px #1aff00);
        animation: rotate (random(30) + s) linear infinite;
    }

    .apple-2 {
        filter: drop-shadow(0 0 15px yellow);
        animation: rotate (random(30) + s) linear infinite reverse;
    }

    .fennel {
        filter: drop-shadow(0 0 15px violet);
        animation: rotate (random(30) + s) linear infinite reverse;

    }
}

.drawings.minimal {
    gap: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 500px) {

    .drawings.minimal {
        flex-direction: column;
    }

    .drawing {
        height: 110px;
    }

    .arugula {
        margin-top: 30px;
        height: 60px;
    }

    .apple {
        height: 70px;
    }
}

.drawings.minimal.top-drawings {
    opacity: 0;
}

.drawings.minimal.top-drawings.visible {
    opacity: 1;
}

.drawings.minimal.top-drawings.fade-in {
    animation: fade-in 2s ease-in forwards;
}

.drawings.minimal.bottom-drawings {
    padding-top: 0;
}