@use 'meyer';
$rvv: calc(1rem + 1vh + 1vw);

// fonts:
$font-stack: 'Helvetica';

// colors:
$green: #20C20E;

// dimensions:
$body-margin: calc(0.6*$rvv) calc(0.4*$rvv);
$header-margin-bottom: calc(0.6*$rvv);
$letter: calc(0.8*$rvv);
$menu-gap: calc(0.3*$rvv);
$ssbbd-font-size: $letter;

.hide {
    display: none;
}

.faded {
    color: rgba(0, 0, 0, 0.349);
}

html {
    overflow-x: hidden;
    font-family: $font-stack;

    body {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        min-height: 100vh;
        
        overflow: hidden;
    
        .wrapper {
            width: 100%;
            height: 100%;
            margin: $body-margin;
            display: flex;
            flex-direction: column;
    
            header {
                min-width: 100%;
                min-height: 5vh;
                display: flex;
                justify-content: flex-start;
                margin-bottom: $header-margin-bottom;

                .ssbbd {
                    cursor: pointer;
                    font-size: $ssbbd-font-size;
                    width: fit-content;
                    display: grid;
                    grid-template-areas: 
                        ". s1 s2 hidden-b1 hidden-b2 hidden-d"
                        "s3 b1 b2 d i o";

                    .letter {
                        width: $letter;
                        height: $letter;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    #s1 {
                        grid-area: s1;
                    }

                    #s2 {
                        grid-area: s2;
                    }

                    #hidden-b1 {
                        grid-area: hidden-b1;
                    }

                    #hidden-b2 {
                        grid-area: hidden-b2;
                    }

                    #hidden-d {
                        grid-area: hidden-d;
                    }
 
                    #s3 {
                        grid-area: s3;
                    }

                    #b1 {
                        grid-area: b1;
                    }

                    #b2 {
                        grid-area: b2;
                    }

                    #d {
                        grid-area: d;
                    }

                    #i {
                        grid-area: i;
                    }

                    #o {
                        grid-area: o;
                    }
                }
            }

            main {
                margin: 0 $letter;
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
                grid-template-areas: "menu expansion-zone expanded-content";
                grid-column-gap: 10px;

                .menu,
                .expansion-zone,
                .expanded-content {
                    display: grid;
                    grid-template-rows: repeat(4, $rvv);
                }

                .menu {
                    grid-area: menu;

                    .page-link {
                        cursor: pointer;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }

                .expansion-zone {
                    grid-area: expansion-zone;

                    .expansion {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);

                        .expansion-step {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .expanded-content {
                    grid-area: expanded-content;

                    .expanded-line {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
            }
        }
    }
}

// desktop rules:
@media (min-width: 600px) {
    body {
        .wrapper {
            header {
                .ssbbd {
                }
            }
            main {
                .menu {
                    .page-link {
                    }
                    .page-link:hover {
                        font-style: italic;
                    }
                }
                .expansion-zone {

                }
            }
        }
    }   
}