@use 'meyer';
$rvv: calc(1rem + 1vh + 1vw);

// fonts:
$font-stack: 'Helvetica';

// colors:
$green: #20C20E;

// dimensions:
$letter: calc(0.8*$rvv);
$ssbbd-font-size: $letter;

.hide {
    display: none;
}

html {
    overflow-x: hidden;
    font-family: $font-stack;

    body {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        .wrapper {
            width: 100%;
            height: 100%;
    
            header {
                display: flex;
                justify-content: flex-start;

                .ssbbd {
                    font-size: $ssbbd-font-size;
                    width: fit-content;
                    display: grid;
                    grid-template-areas: 
                        ". s1 s2 . . ."
                        "s3 b1 b2 d i o";

                    .letter {
                        width: $letter;
                        height: $letter;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    #s1 {
                        grid-area: s1;
                    }

                    #s2 {
                        grid-area: s2;
                    }

                    #s3 {
                        grid-area: s3;
                    }

                    #b1 {
                        grid-area: b1;
                    }

                    #b2 {
                        grid-area: b2;
                    }

                    #d {
                        grid-area: d;
                    }

                    #i {
                        grid-area: i;
                    }

                    #o {
                        grid-area: o;
                    }
                }
            }
        }
    }
}

// desktop rules:
@media (min-width: 600px) {
    body {
        .wrapper {
            header {
                .ssbbd {

                }
            }
        }
    }   
}