$hidden-corners: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%)
;

@mixin hacker-hover($shadow-offset, $stroke-width) {
    color: $green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: $shadow-offset $shadow-offset rgba(255, 0, 0, 0.398);
    -webkit-text-stroke: $stroke-width black;
}

.tags-title {
    font-size: calc(1.2*$rvv);
    letter-spacing: 2px;
    margin-bottom: calc(0.5*$rvv);
}

.tags {
    margin: 0 calc(1.4*($body-left-margin + $letter)) 0 calc($body-left-margin + $letter);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(0.5*$rvv);
}

.tag {
    cursor: pointer;
    border: 1px solid black;
    clip-path: $hidden-corners;
    padding: calc(0.15*$rvv);
}

@media (min-width: 600px) {

    .tags-title:hover {
        @include hacker-hover(10px, 2px);
    }

    .tag {
        transition: transform 0.2s ease-in-out;
    }

    .tag:hover {
        transform: scale(1.1);
        @include hacker-hover(3px, 0.5px)
    }
}