:root {
    --green: #20C20E;
}

body,
html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    width: fit-content;
}

.email {
    padding: 2px 4px;
    border-radius: 3px;
    border: 3px double var(--green);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.email:hover {
    border-color: red;
    background-color: black;
    color: var(--green);
}